body{

background:#071126;

font-family:Arial;

text-align:center;

color:white;

margin:0;

}

h1{

color:cyan;

font-size:60px;

margin-top:40px;

}

.subtitle{

font-size:25px;

color:white;

}

.dashboard{

display:grid;

grid-template-columns:repeat(2,300px);

gap:30px;

justify-content:center;

margin-top:50px;

}

.card{

background:#12203b;

padding:30px;

border-radius:20px;

box-shadow:0 0 20px cyan;

}

.card h2{

margin-top:0;

}

.green{

color:lime;

font-size:25px;

font-weight:bold;

}

.red{

color:red;

font-size:25px;

font-weight:bold;

}

button{

margin-top:50px;

padding:18px 45px;

font-size:22px;

background:cyan;

border:none;

border-radius:15px;

cursor:pointer;

}
